.mainDiv{
    background-color: rgba(128, 128, 128, 0.225);
    width: 100%;
    padding: 20px;
    margin:20px 0px ;
    display: flex;
    align-items: center;
    
}

.heading{
    display: flex;
    width: 180px;
    align-items: center;
    font-size: 20px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.sortingChanger{
    display: flex;
    flex-direction: row;
}

.sortingIcons{
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gridIcon{
    font-size: 18px;
    margin: 8px;
}

.sortIcon{
    font-size: 18px;
    margin-right: 10px;
}

.viewChanger{
    margin-right: 40px;
}

.filterHeading{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 20px;
}

.sortingHeading{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.price{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
}
