.mainDiv{
    display: flex;
    margin: 20px;
    height: 50px;
}

.input{
    height: 50px;
    width: 300px;
    background-color: rgb(233, 233, 225);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(255, 255, 255, 0);
    border-radius: 6px;
    padding-left: 10px;
    font-size: 14px;
}

.searchField{
    display: flex;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    width: 110px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(255, 255, 255, 0);
    margin-left: 10px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.input:focus{
    border: none;
    outline: none;
}


.searchField:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.767);
    transform: scale(1.04);
}