.display{
    margin-bottom: 15px;
}

.inputPriceRanger1{
    appearance: none;
    height: 2px;
    width: 300px;
    margin-right: -2px;
    outline: none;
    background: rgb(181, 179, 179);
    
}

.inputPriceRanger1::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    cursor: pointer;
    color: wheat;
    height: 35px;

    
}
.inputPriceRanger2::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    cursor: pointer;
    height: 0.1px;
}


.inputPriceRanger2{
    appearance: none;
    height: 2px;
    margin-top: -2px;
    width: 300px;
    direction: rtl; 
    outline: none;
    background: rgb(181, 179, 179);
}

.range{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0px 6px;
}